* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0d0d2;
    color: #333;
}

.title {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.search-form {
    display: flex;
    gap: 15px;
}

.search-input {
    flex: 1;
    padding: 10px;
}

.search-button {
    background-color: #4a5568;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
    background-color: #2d3748;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.user-info-container, .repos-container {
    margin-top: 20px;
}

.user-info-container img {
    width: 100px;
    border-radius: 50%;
}

.repo {
    margin: 5px 0;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 4px;
}